themes {
    default {
        fg "#545454"
        bg "#c4c4c4"
        black "#fcfcfc"
        red "#a80000"
        green "#00a800"
        yellow "#a85400"
        blue "#0000a8"
        magenta "#a800a8"
        cyan "#00a8a8"
        white "#545454"
        orange "#fcfc54"
    }
}

