themes {
    default {
        fg "#f2f4f8"
        bg "#393939"
        black "#161616"
        red "#3ddbd9"
        green "#33b1ff"
        yellow "#ee5396"
        blue "#42be65"
        magenta "#be95ff"
        cyan "#ff7eb6"
        white "#f2f4f8"
        orange "#78a9ff"
    }
}

