themes {
    default {
        fg "#403c3d"
        bg "#f9cbbe"
        black "#fdf0ed"
        red "#f7939b"
        green "#94e1b0"
        yellow "#fbe0d9"
        blue "#da103f"
        magenta "#1d8991"
        cyan "#dc3318"
        white "#403c3d"
        orange "#f6661e"
    }
}

