themes {
    default {
        fg "#d0d0fa"
        bg "#30305a"
        black "#00002a"
        red "#ff4242"
        green "#59f176"
        yellow "#f3e877"
        blue "#66b0ff"
        magenta "#f10596"
        cyan "#0ef0f0"
        white "#d0d0fa"
        orange "#fc8d28"
    }
}

