themes {
    default {
        fg "#dce3e8"
        bg "#006374"
        black "#003b46"
        red "#e6454b"
        green "#85b57a"
        yellow "#ffcc66"
        blue "#3a82e6"
        magenta "#8c4de6"
        cyan "#4da6a6"
        white "#dce3e8"
        orange "#ff6a4b"
    }
}

