themes {
    default {
        fg "#a7b8af"
        bg "#364c40"
        black "#1e2a24"
        red "#c60c30"
        green "#009b3a"
        yellow "#f9e300"
        blue "#522398"
        magenta "#e27ea6"
        cyan "#00a1de"
        white "#a7b8af"
        orange "#f9461c"
    }
}

