themes {
    default {
        fg "#b8a59d"
        bg "#473933"
        black "#241d1a"
        red "#f6998f"
        green "#b6c68a"
        yellow "#ffc37a"
        blue "#b0a4c3"
        magenta "#d8a2b0"
        cyan "#c0bcdb"
        white "#b8a59d"
        orange "#ffa888"
    }
}

