themes {
    default {
        fg "#c4cbcf"
        bg "#373737"
        black "#1d1d1d"
        red "#c06061"
        green "#8ca07b"
        yellow "#e5bc84"
        blue "#839ec9"
        magenta "#98a1d8"
        cyan "#5e8c9b"
        white "#c4cbcf"
        orange "#ff937f"
    }
}

