themes {
    default {
        fg "#4c383b"
        bg "#bdbdbd"
        black "#f0f0f0"
        red "#d80000"
        green "#30a860"
        yellow "#fff018"
        blue "#365eff"
        magenta "#9036ff"
        cyan "#36d3ff"
        white "#4c383b"
        orange "#f0d848"
    }
}

