themes {
    default {
        fg "#cccccc"
        bg "#515151"
        black "#2d2d2d"
        red "#ff7f7b"
        green "#beda78"
        yellow "#ffd67c"
        blue "#90bee1"
        magenta "#efb3f7"
        cyan "#bed6ff"
        white "#cccccc"
        orange "#ffbf70"
    }
}

