themes {
    default {
        fg "#383838"
        bg "#d8d8d8"
        black "#f8f8f8"
        red "#ab4642"
        green "#538947"
        yellow "#f79a0e"
        blue "#7cafc2"
        magenta "#96609e"
        cyan "#4b8093"
        white "#383838"
        orange "#dc9656"
    }
}

