themes {
    default {
        fg "#80cbc4"
        bg "#cceae7"
        black "#fafafa"
        red "#ff5370"
        green "#91b859"
        yellow "#ffb62c"
        blue "#6182b8"
        magenta "#7c4dff"
        cyan "#39adb5"
        white "#80cbc4"
        orange "#f76d47"
    }
}

