themes {
    default {
        fg "#444444"
        bg "#cccccc"
        black "#ffffff"
        red "#d03e3e"
        green "#31861f"
        yellow "#ad8200"
        blue "#3173c5"
        magenta "#9e57c2"
        cyan "#00998f"
        white "#444444"
        orange "#d7691d"
    }
}

