themes {
    default {
        fg "#d6d6d6"
        bg "#3b758c"
        black "#151718"
        red "#cd3f45"
        green "#9fca56"
        yellow "#e6cd69"
        blue "#55b5db"
        magenta "#a074c4"
        cyan "#55dbbe"
        white "#d6d6d6"
        orange "#db7b55"
    }
}

