themes {
    default {
        fg "#404040"
        bg "#c0c0c0"
        black "#ffffff"
        red "#c41a15"
        green "#007400"
        yellow "#826b28"
        blue "#0000ff"
        magenta "#a90d91"
        cyan "#318495"
        white "#404040"
        orange "#eb8500"
    }
}

