themes {
    default {
        fg "#c4cbcf"
        bg "#373737"
        black "#1d1d1d"
        red "#ed5a56"
        green "#aeb831"
        yellow "#fbb957"
        blue "#81a2a2"
        magenta "#cf8997"
        cyan "#88b68d"
        white "#c4cbcf"
        orange "#fc8c23"
    }
}

