themes {
    default {
        fg "#afb2b5"
        bg "#3d3f42"
        black "#262729"
        red "#e77171"
        green "#a1bf78"
        yellow "#dbb774"
        blue "#73b3e7"
        magenta "#d390e7"
        cyan "#5ebaa5"
        white "#afb2b5"
        orange "#eba31a"
    }
}

