themes {
    default {
        fg "#f2f4f8"
        bg "#393939"
        black "#161616"
        red "#ee5396"
        green "#42be65"
        yellow "#ff6f00"
        blue "#33b1ff"
        magenta "#be95ff"
        cyan "#3ddbd9"
        white "#f2f4f8"
        orange "#ff7eb6"
    }
}

