themes {
    default {
        fg "#9e9e9e"
        bg "#424242"
        black "#1c1c1c"
        red "#ff5faf"
        green "#5faf5f"
        yellow "#ffaf00"
        blue "#5fafd7"
        magenta "#af87d7"
        cyan "#00afaf"
        white "#9e9e9e"
        orange "#d7af5f"
    }
}

