themes {
    default {
        fg "#606bac"
        bg "#23255a"
        black "#0a0920"
        red "#f768a3"
        green "#a2faa8"
        yellow "#f7d668"
        blue "#258fc4"
        magenta "#c368f7"
        cyan "#a2faf0"
        white "#606bac"
        orange "#f78968"
    }
}

