themes {
    default {
        fg "#d4e1e8"
        bg "#003640"
        black "#001c1f"
        red "#d3464d"
        green "#63b784"
        yellow "#f3b863"
        blue "#568ccf"
        magenta "#8b66d6"
        cyan "#4fb7ae"
        white "#d4e1e8"
        orange "#e37552"
    }
}

