themes {
    default {
        fg "#526057"
        bg "#87928a"
        black "#ecf4ee"
        red "#b16139"
        green "#489963"
        yellow "#a07e3b"
        blue "#478c90"
        magenta "#55859b"
        cyan "#1c9aa0"
        white "#526057"
        orange "#9f713c"
    }
}

