themes {
    default {
        fg "#909dab"
        bg "#444c56"
        black "#1c2128"
        red "#f47067"
        green "#57ab5a"
        yellow "#c69026"
        blue "#539bf5"
        magenta "#e275ad"
        cyan "#96d0ff"
        white "#909dab"
        orange "#e0823d"
    }
}

