themes {
    default {
        fg "#424a53"
        bg "#afb8c1"
        black "#eaeef2"
        red "#fa4549"
        green "#2da44e"
        yellow "#bf8700"
        blue "#218bff"
        magenta "#a475f9"
        cyan "#339d9b"
        white "#424a53"
        orange "#e16f24"
    }
}

