themes {
    default {
        fg "#c8e1f8"
        bg "#46290a"
        black "#182430"
        red "#4ce587"
        green "#c3e88d"
        yellow "#82aaff"
        blue "#82aaff"
        magenta "#ff84dd"
        cyan "#5fd1ff"
        white "#c8e1f8"
        orange "#f6a85c"
    }
}

