themes {
    default {
        fg "#292929"
        bg "#ffeada"
        black "#fdf9f5"
        red "#ac1f35"
        green "#0c680c"
        yellow "#645a00"
        blue "#0158ad"
        magenta "#6645c2"
        cyan "#01716f"
        white "#292929"
        orange "#ad5601"
    }
}

