themes {
    default {
        fg "#4a4035"
        bg "#d6d6d6"
        black "#ffffff"
        red "#c04851"
        green "#428675"
        yellow "#d6a01d"
        blue "#815c94"
        magenta "#c08eaf"
        cyan "#2b73af"
        white "#4a4035"
        orange "#fb8b05"
    }
}

