themes {
    default {
        fg "#00bb00"
        bg "#005500"
        black "#001100"
        red "#007700"
        green "#00bb00"
        yellow "#007700"
        blue "#009900"
        magenta "#00bb00"
        cyan "#005500"
        white "#00bb00"
        orange "#009900"
    }
}

