themes {
    default {
        fg "#cabcb1"
        bg "#48413a"
        black "#231e18"
        red "#d35c5c"
        green "#b7ba53"
        yellow "#e0ac16"
        blue "#88a4d3"
        magenta "#bb90e2"
        cyan "#6eb958"
        white "#cabcb1"
        orange "#ca7f32"
    }
}

