themes {
    default {
        fg "#403e3c"
        bg "#e6e4d9"
        black "#fffcf0"
        red "#af3029"
        green "#66800b"
        yellow "#ad8301"
        blue "#205ea6"
        magenta "#5e409d"
        cyan "#24837b"
        white "#403e3c"
        orange "#bc5215"
    }
}

