themes {
    default {
        fg "#654735"
        bg "#c9b99a"
        black "#f2e5bc"
        red "#c14a4a"
        green "#6c782e"
        yellow "#b47109"
        blue "#45707a"
        magenta "#945e80"
        cyan "#4c7a5d"
        white "#654735"
        orange "#c35e0a"
    }
}

