themes {
    default {
        fg "#c3c2c4"
        bg "#69666b"
        black "#2e2a31"
        red "#d8137f"
        green "#17ad98"
        yellow "#dc8a0e"
        blue "#7864fa"
        magenta "#b33ce8"
        cyan "#149bda"
        white "#c3c2c4"
        orange "#d65407"
    }
}

