themes {
    default {
        fg "#b5b3aa"
        bg "#484844"
        black "#000000"
        red "#ff6c60"
        green "#a8ff60"
        yellow "#ffffb6"
        blue "#96cbfe"
        magenta "#ff73fd"
        cyan "#c6c5fe"
        white "#b5b3aa"
        orange "#e9c062"
    }
}

