themes {
    default {
        fg "#599cab"
        bg "#091f2e"
        black "#0c1014"
        red "#c23127"
        green "#33859e"
        yellow "#edb443"
        blue "#195466"
        magenta "#888ca6"
        cyan "#2aa889"
        white "#599cab"
        orange "#d26937"
    }
}

