themes {
    default {
        fg "#5a496e"
        bg "#bdb6c5"
        black "#feffff"
        red "#f80059"
        green "#5bb66a"
        yellow "#bd9701"
        blue "#5ba2b6"
        magenta "#8f6c97"
        cyan "#47f9f5"
        white "#5a496e"
        orange "#bd0152"
    }
}

