themes {
    default {
        fg "#382e1b"
        bg "#af9f7d"
        black "#cabda0"
        red "#382e1b"
        green "#110e06"
        yellow "#110e06"
        blue "#251e0f"
        magenta "#382e1b"
        cyan "#110e06"
        white "#382e1b"
        orange "#110e06"
    }
}

