themes {
    default {
        fg "#e0e0e0"
        bg "#505050"
        black "#000000"
        red "#fb0120"
        green "#a1c659"
        yellow "#fda331"
        blue "#6fb3d2"
        magenta "#d381c3"
        cyan "#76c7b7"
        white "#e0e0e0"
        orange "#fc6d24"
    }
}

