themes {
    default {
        fg "#525f70"
        bg "#bec6cf"
        black "#f2f4f8"
        red "#ff7eb6"
        green "#42be65"
        yellow "#ff6f00"
        blue "#0f62fe"
        magenta "#be95ff"
        cyan "#673ab7"
        white "#525f70"
        orange "#ee5396"
    }
}

