themes {
    default {
        fg "#c3a983"
        bg "#2a2012"
        black "#0f0b05"
        red "#a88c62"
        green "#dec8a7"
        yellow "#dec8a7"
        blue "#c3a983"
        magenta "#a88c62"
        cyan "#dec8a7"
        white "#c3a983"
        orange "#dec8a7"
    }
}

