themes {
    default {
        fg "#dcd7ba"
        bg "#223249"
        black "#1f1f28"
        red "#c34043"
        green "#76946a"
        yellow "#c0a36e"
        blue "#7e9cd8"
        magenta "#957fb8"
        cyan "#6a9589"
        white "#dcd7ba"
        orange "#ffa066"
    }
}

