themes {
    default {
        fg "#d80000"
        bg "#fff018"
        black "#f0f0f0"
        red "#487830"
        green "#5c5c6a"
        yellow "#426395"
        blue "#001878"
        magenta "#900000"
        cyan "#2c3c57"
        white "#d80000"
        orange "#183048"
    }
}

