themes {
    default {
        fg "#818175"
        bg "#2a2a3f"
        black "#1a1a2f"
        red "#ff662a"
        green "#8cd97c"
        yellow "#ffd15e"
        blue "#2b926f"
        magenta "#1b825f"
        cyan "#4cad83"
        white "#818175"
        orange "#ff773a"
    }
}

