themes {
    default {
        fg "#cccac2"
        bg "#323844"
        black "#1f2430"
        red "#f28779"
        green "#d5ff80"
        yellow "#ffd173"
        blue "#73d0ff"
        magenta "#d4bfff"
        cyan "#95e6cb"
        white "#cccac2"
        orange "#ffad66"
    }
}

