themes {
    default {
        fg "#f8f8f2"
        bg "#484e54"
        black "#232629"
        red "#f11235"
        green "#02d849"
        yellow "#ffb627"
        blue "#00a6fb"
        magenta "#f15ee3"
        cyan "#0dd9d6"
        white "#f8f8f2"
        orange "#ff9505"
    }
}

