themes {
    default {
        fg "#636363"
        bg "#f2e6d4"
        black "#fffdfb"
        red "#ca736c"
        green "#47a477"
        yellow "#8d9741"
        blue "#5794d0"
        magenta "#9481cc"
        cyan "#00a2af"
        white "#636363"
        orange "#ba823a"
    }
}

