themes {
    default {
        fg "#cccccc"
        bg "#535353"
        black "#0c0c0c"
        red "#e74856"
        green "#16c60c"
        yellow "#f9f1a5"
        blue "#3b78ff"
        magenta "#b4009e"
        cyan "#61d6d6"
        white "#cccccc"
        orange "#c19c00"
    }
}

