themes {
    default {
        fg "#f5f5f5"
        bg "#1d1b1d"
        black "#171517"
        red "#ffa600"
        green "#ff0066"
        yellow "#20df6c"
        blue "#00ffff"
        magenta "#007fff"
        cyan "#6600ff"
        white "#f5f5f5"
        orange "#00ff66"
    }
}

