themes {
    default {
        fg "#bbbbbb"
        bg "#555555"
        black "#111111"
        red "#ff4136"
        green "#2ecc40"
        yellow "#ffdc00"
        blue "#0074d9"
        magenta "#b10dc9"
        cyan "#7fdbff"
        white "#bbbbbb"
        orange "#ff851b"
    }
}

