themes {
    default {
        fg "#eed5d9"
        bg "#46354a"
        black "#241b26"
        red "#877bb6"
        green "#c965bf"
        yellow "#a84a73"
        blue "#6a9eb5"
        magenta "#78a38f"
        cyan "#9c5fce"
        white "#eed5d9"
        orange "#de5b44"
    }
}

