themes {
    default {
        fg "#fcfcfc"
        bg "#514f52"
        black "#262427"
        red "#ff7272"
        green "#bcdf59"
        yellow "#ffca58"
        blue "#49cae4"
        magenta "#a093e2"
        cyan "#aee8f4"
        white "#fcfcfc"
        orange "#fc9d6f"
    }
}

