themes {
    default {
        fg "#a4a6a9"
        bg "#5a8380"
        black "#22273b"
        red "#777abc"
        green "#6562a8"
        yellow "#4f9062"
        blue "#4d6bb6"
        magenta "#716cae"
        cyan "#226f68"
        white "#a4a6a9"
        orange "#94929e"
    }
}

