themes {
    default {
        fg "#d3c6aa"
        bg "#4d5960"
        black "#333c43"
        red "#e67e80"
        green "#a7c080"
        yellow "#dbbc7f"
        blue "#7fbbb3"
        magenta "#d699b6"
        cyan "#83c092"
        white "#d3c6aa"
        orange "#e69875"
    }
}

