themes {
    default {
        fg "#b9b5b8"
        bg "#5c545b"
        black "#322931"
        red "#dd464c"
        green "#8fc13e"
        yellow "#fdcc59"
        blue "#1290bf"
        magenta "#c85e7c"
        cyan "#149b93"
        white "#b9b5b8"
        orange "#fd8b19"
    }
}

