themes {
    default {
        fg "#aa556f"
        bg "#4b2054"
        black "#0e091d"
        red "#c53253"
        green "#a68e5a"
        yellow "#ff6565"
        blue "#6e6080"
        magenta "#a45782"
        cyan "#8c9785"
        white "#aa556f"
        orange "#ea4d60"
    }
}

