themes {
    default {
        fg "#504945"
        bg "#d5c4a1"
        black "#f2e5bc"
        red "#9d0006"
        green "#79740e"
        yellow "#b57614"
        blue "#076678"
        magenta "#8f3f71"
        cyan "#427b58"
        white "#504945"
        orange "#af3a03"
    }
}

