themes {
    default {
        fg "#e2e4e5"
        bg "#43454f"
        black "#282a36"
        red "#ff5c57"
        green "#5af78e"
        yellow "#f3f99d"
        blue "#57c7ff"
        magenta "#ff6ac1"
        cyan "#9aedfe"
        white "#e2e4e5"
        orange "#ff9f43"
    }
}

