themes {
    default {
        fg "#5f5f87"
        bg "#5f875f"
        black "#262626"
        red "#444444"
        green "#ffffaf"
        yellow "#87af87"
        blue "#8787af"
        magenta "#5fafaf"
        cyan "#87afd7"
        white "#5f5f87"
        orange "#ff8700"
    }
}

