themes {
    default {
        fg "#c5c9c5"
        bg "#282727"
        black "#0d0c0c"
        red "#c4746e"
        green "#87a987"
        yellow "#c4b28a"
        blue "#8ba4b0"
        magenta "#8992a7"
        cyan "#8ea4a2"
        white "#c5c9c5"
        orange "#b98d7b"
    }
}

