themes {
    default {
        fg "#313145"
        bg "#9e9eaf"
        black "#efefef"
        red "#f43979"
        green "#0073a8"
        yellow "#ff669b"
        blue "#471397"
        magenta "#6916b6"
        cyan "#2155d6"
        white "#313145"
        orange "#d22a8b"
    }
}

