themes {
    default {
        fg "#8ca68c"
        bg "#5e6e5e"
        black "#131513"
        red "#e6193c"
        green "#29a329"
        yellow "#98981b"
        blue "#3d62f5"
        magenta "#ad2bee"
        cyan "#1999b3"
        white "#8ca68c"
        orange "#87711d"
    }
}

