themes {
    default {
        fg "#d0d0d0"
        bg "#303030"
        black "#151515"
        red "#fb9fb1"
        green "#acc267"
        yellow "#ddb26f"
        blue "#6fc2ef"
        magenta "#e1a3ee"
        cyan "#12cfc0"
        white "#d0d0d0"
        orange "#eda987"
    }
}

