themes {
    default {
        fg "#303030"
        bg "#d0d0d0"
        black "#f5f5f5"
        red "#ac4142"
        green "#90a959"
        yellow "#f4bf75"
        blue "#6a9fb5"
        magenta "#aa759f"
        cyan "#75b5aa"
        white "#303030"
        orange "#d28445"
    }
}

