themes {
    default {
        fg "#a8a8a8"
        bg "#383838"
        black "#000000"
        red "#fc5454"
        green "#54fc54"
        yellow "#fcfc54"
        blue "#5454fc"
        magenta "#fc54fc"
        cyan "#54fcfc"
        white "#a8a8a8"
        orange "#a85400"
    }
}

