themes {
    default {
        fg "#636363"
        bg "#f2e6d4"
        black "#fffdfb"
        red "#df7f78"
        green "#50b584"
        yellow "#9ca748"
        blue "#61a3e6"
        magenta "#a48fe1"
        cyan "#00b3c2"
        white "#636363"
        orange "#ce9042"
    }
}

