themes {
    default {
        fg "#a39a90"
        bg "#433b32"
        black "#16130f"
        red "#826d57"
        green "#57826d"
        yellow "#6d8257"
        blue "#6d5782"
        magenta "#82576d"
        cyan "#576d82"
        white "#a39a90"
        orange "#828257"
    }
}

