themes {
    default {
        fg "#383838"
        bg "#d8d8d8"
        black "#f8f8f8"
        red "#fa8480"
        green "#a0d2c8"
        yellow "#ffdc61"
        blue "#a0a7d2"
        magenta "#c8a0d2"
        cyan "#a2d6f5"
        white "#383838"
        orange "#ffaa61"
    }
}

