themes {
    default {
        fg "#c0cbe3"
        bg "#3c3e51"
        black "#292a37"
        red "#ec6a88"
        green "#3fdaa4"
        yellow "#e1c697"
        blue "#3fc6de"
        magenta "#be95ff"
        cyan "#ff7eb6"
        white "#c0cbe3"
        orange "#efb993"
    }
}

