themes {
    default {
        fg "#939599"
        bg "#53555d"
        black "#282b35"
        red "#b21889"
        green "#df0002"
        yellow "#438288"
        blue "#790ead"
        magenta "#b21889"
        cyan "#00a0be"
        white "#939599"
        orange "#786dc5"
    }
}

