themes {
    default {
        fg "#c7dbdd"
        bg "#2a5054"
        black "#0e3c46"
        red "#fb6953"
        green "#73d8ad"
        yellow "#fce380"
        blue "#46bddd"
        magenta "#756b8a"
        cyan "#3fb2b9"
        white "#c7dbdd"
        orange "#fcab74"
    }
}

