themes {
    default {
        fg "#000000"
        bg "#d0d0d0"
        black "#e0e0e0"
        red "#840000"
        green "#730073"
        yellow "#755b00"
        blue "#007300"
        magenta "#000090"
        cyan "#755b00"
        white "#000000"
        orange "#006565"
    }
}

