themes {
    default {
        fg "#5e5e5e"
        bg "#9e9e9e"
        black "#eeeeee"
        red "#d70000"
        green "#008700"
        yellow "#d75f00"
        blue "#005f87"
        magenta "#8700af"
        cyan "#0087af"
        white "#5e5e5e"
        orange "#d75f00"
    }
}

