themes {
    default {
        fg "#6d828e"
        bg "#b0c5c8"
        black "#e3efef"
        red "#b38686"
        green "#87b386"
        yellow "#aab386"
        blue "#868cb3"
        magenta "#b386b2"
        cyan "#86b3b3"
        white "#6d828e"
        orange "#d8bba2"
    }
}

