themes {
    default {
        fg "#8b9cbe"
        bg "#3c3f4c"
        black "#17191e"
        red "#ff29a8"
        green "#0badff"
        yellow "#f0ffaa"
        blue "#00eaff"
        magenta "#00f6d9"
        cyan "#8265ff"
        white "#8b9cbe"
        orange "#85ffe0"
    }
}

