themes {
    default {
        fg "#c4cbcf"
        bg "#373737"
        black "#1d1d1d"
        red "#f07c82"
        green "#b2cf87"
        yellow "#f4ce69"
        blue "#8fb2c9"
        magenta "#be9db9"
        cyan "#b0d5df"
        white "#c4cbcf"
        orange "#f4a83a"
    }
}

